*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Poppins", sans-serif;
}
body{
  background:#111111;
  color:white;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  background:#000;
}
.nav-left ul{
  display:flex;
  gap:40px;
  list-style:none;
}
.nav-left li{
  color:#ffff;
  font-size:16px;
  cursor:pointer;
}
.nav-left li:hover{
  color: #f79c05;
}
.nav-left .active{
  color:#f1a11a;
}
.nav-right{
  display:flex;
  align-items:center;
  gap:25px;
}

.contact-btn{
  padding:10px 25px;
  border:2px solid #f1a11a;
  border-radius:30px;
  background:none;
  color:#f1a11a;
  font-weight:600;
  cursor:pointer;
}
.contact-btn:hover{
  padding:10px 25px;
  border:2px solid #ffffff;
  border-radius:30px;
  background:linear-gradient(#f79c05, #bb6500);;
  color:#ffffff;
  font-weight:600;
  cursor:pointer;
}
.icons img{
  margin-left: 25px;
  width:22px;
  cursor:pointer;
  filter:invert(00%);
}
.icons img.fb {
   margin-left: 25px;
  width:10px;
  cursor:pointer;
  filter:invert(00%);
}

/* HERO SECTION */
.hero{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-right: 125px;
  margin-left: 125px;
  padding:80px 60px;
  flex-wrap:wrap;
}
.hero-text h1{
  font-size:55px;
  font-weight:700;
  letter-spacing:12px;
  color:#f1a11a;
  margin-bottom:25px;
}
.hero-text p{
  width:600px;
  color:#cccccc;
  line-height:1.7;
  font-size:20px;
  margin-bottom:30px;
}

/* BUTTONS */
.btn-group{
  display:flex;
  gap:25px;
}
.btn{
  padding:15px 35px;
  border-radius:10px;
  font-weight:600;
  text-decoration:none;
  display:inline-block;
}
.primary{
  border:2px solid #fdfdfc;
  background:linear-gradient(#f79c05, #bb6500);
  color:white;
}
.primary:hover{
  background:#ffffff;
  color:black;
}
.outline{
  border:2px solid #f1a11a;
  color:#f1a11a;
}

.outline:hover{
  border:2px solid #fdfdfc;
  color:#fdfdfc;
  background:linear-gradient(#f79c05, #bb6500);
}
/* IMAGE */
.hero-img{
  position:relative;
  width:420px;
  height:420px;
}
.circle{
  width:100%;
  height:100%;
  background:linear-gradient(#f79c05, #bb6500);
  border-radius:50%;
  position:absolute;
  top:0;
  right:0;
}
.hero-img img{
  position:absolute;
  bottom:0;
  right:225px;
  width:450px;
  z-index:3;
}
.glow{
  width:55px;
  height:55px;
  background:#fff5d0;
  border-radius:50%;
  position:absolute;
  z-index:2;
  opacity:0.9;
}
.g1{ top:50px; left:-10px; }
.g2{ bottom:40px; right:-20px; }

/* RESPONSIVE */

/* TABLET SIZE (768px - 1024px) */
@media (max-width: 1024px) {

  .navbar {
    padding: 20px 30px;
  }

  .nav-left ul {
    gap: 20px;
  }
  .btn-group {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .hero {
    margin: 0 40px;
    padding: 60px 20px;
    flex-direction: column;
    text-align: center;
  }

  .hero-text p {
    width: 90%;
  }

  .hero-img {
    width: 350px;
    height: 350px;
    margin-top: 40px;
  }

  .hero-img img {
    right: 0px;
    width: 380px;
  }
}

/* MOBILE SIZE (Up to 767px) */
@media (max-width: 767px) {

  .navbar {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .nav-left ul {
    gap: 15px;
    font-size: 14px;
  }

  .contact-btn {
    padding: 8px 20px;
    font-size: 14px;
  }

  .hero {
    margin: 0 20px;
    padding: 40px 10px;
    text-align: center;
    flex-direction: column;
  }

  .hero-text h1 {
    font-size: 32px;
    letter-spacing: 4px;
  }

  .hero-text p {
    width: 100%;
    font-size: 16px;
  }

  .btn-group {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .btn {
    width: 70%;
    text-align: center;
  }

  .hero-img {
    width: 280px;
    height: 280px;
    margin-top: 30px;
  }

  .hero-img img {
    width: 300px;
    right: 0px;
  }
}
