/* ================= GLOBAL ================= */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#121212;
  color:#fff;
}

/* ================= NAVBAR ================= */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 8%;
  background:#000;
  position:sticky;
  top:0;
  z-index:100;
}
.icons img{
  margin-left: 25px;
  width:22px;
  cursor:pointer;
  filter:invert(00%);
}
.icons img.fb {
   margin-left: 25px;
  width:10px;
  cursor:pointer;
  filter:invert(00%);
}


.nav-center a{
  margin:0 16px;
  color:#ccc;
  text-decoration:none;
  position:relative;
  transition:color 0.3s ease;
  cursor:pointer;
}

.nav-center a:hover{
  color:#ffa500;
}

.nav-center a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-6px;
  width:0;
  height:2px;
  background:#ffa500;
  transition:0.3s;
}

.nav-center a:hover::after,
.nav-center a.active::after{
  width:100%;
}

.nav-btn{
  background:none;
  border:1px solid #ffa500;
  color:#ffa500;
  padding:8px 20px;
  border-radius:30px;
  cursor:pointer;
  transition:all 0.3s;
}

.nav-btn:hover{
  background:#ffa500;
  color:#000;
}

.icon-placeholder{
  width:10px;
  height:10px;
  background:#444;
  display:inline-block;
  margin-left:10px;
  border-radius:4px;
}

/* ================= HERO ================= */
.hero{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:80px 8%;
  flex-wrap:wrap;
}

.hero h1{
  font-size:48px;
  color:#ffa500;
}

.hero p{
  max-width:520px;
  margin:25px 0;
  color:#ccc;
}
.hero-text {
  margin-left: 50px;
  margin-top: -100px; /* push text slightly right */
}

.hero-buttons button{
  padding:12px 28px;
  margin-right:14px;
  border-radius:30px;
  cursor:pointer;
  transition:all 0.3s;
}

.btn-primary{
  background:#ffa500;
  border:none;
  color:#000;
}

.btn-primary:hover{
  background:#ffb84d;
}

.btn-outline{
  background:none;
  border:1px solid #ffa500;
  color:#ffa500;
}

.btn-outline:hover{
  background:#ffa500;
  color:#000;
}

/* Hero Image */
.hero-image{
  position:relative;
  min-width:250px;
  margin-top:400px;
}


.hero-image img{
  position:absolute;
  bottom:0;
  right:100px;
  width:440px;
  border-radius:50%;
  z-index:2;
}

/* ================= ABOUT ================= */
.about{
  background:#2c2c2c;
  padding:80px 12%;
  text-align:center;
}
.about p{
  max-width:900px;
  margin:0 auto;
  color:#ccc;
  line-height:1.6;
}

.about h2{
  color:#ffa500;
  margin-bottom:20px;
}

/* ================= EDUCATION ================= */
.education{
  padding:80px 12%;
}

.edu-item{
  display:flex;
  gap:20px;
  margin:30px 0;
  align-items:center;
}

.edu-icon{
  width:53px;
  height:53px;
  background:#444;
  border-radius:12px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:12px;
  font-weight:bold;
  color:#ccc;
  box-shadow:0 4px 10px rgba(0,0,0,0.15);
}
.edu-icon img{
  width:45px;
  height: 45px;
  border-radius:50%;
}

/* ================= SKILLS ================= */
.skills h2{
    margin-bottom: 25px;
}
.skills{
  background:#1c1c1c;
  color:#fff;
  padding:80px 12%;
}

.skill{
  margin-bottom:20px;
}

.progress{
  height:8px;
  background:#333;
  margin:8px 0 24px;
  border-radius:20px;
  overflow:hidden;
}

.progress div{
  height:100%;
  background:#ffa500;
  border-radius:20px;
  transition: width 1s ease;
}

/* ================= WORK ================= */
.work{
  padding:80px 12%;
}
.work h2{
  margin-bottom:30px;
}
.work-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
}

.work-img{
  height:250px;
  background:#333;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:12px;
  border-radius:12px;
}
.work-img img{
  width:450px;
  height: 250px;
  border-radius:12px;
  object-fit: cover;
}
/* ================= CONTACT ================= */
.contact{
  background:#1c1c1c;
  color:#fff;
  padding:80px 12%;
  display:flex;
  flex-wrap:wrap;
  gap:60px;
}

.contact-left{
  flex:1;
  min-width:250px;
}
.contact-left h3{
  margin-bottom:50px;
}
.contact-left p{
  color:#ccc;
  line-height:1.6;
}
.contact-form{
  flex:1;
  min-width:250px;
  display:flex;
  flex-direction:column;
  gap:12px;
}

.contact-form input,
.contact-form textarea{
  width:100%;
  padding:10px;
  border-radius:12px;
  border:none;
  background:#333;
  color:#fff;
}

.contact-form button{
  background:#ffa500;
  border:none;
  padding:12px;
  border-radius:30px;
  cursor:pointer;
  transition:0.3s;
}

.contact-form button:hover{
  background:#ffb84d;
}

/* ================= FOOTER ================= */
footer{
  background:#000;
  color:#fff;
  text-align:center;
  padding:18px;
}

/* ================= RESPONSIVE ================= */
@media(max-width:900px){
  .hero{
    flex-direction:column;
    text-align:center;
  }
  .hero-image{
    margin-top:40px;
  }
  .edu-item{
    flex-direction:column;
    align-items:flex-start;
  }
  .contact{
    flex-direction:column;
  }
}
